* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeroImage {
    background-color: lightblue;
    width: 100vw;
    height: 40vw;
}

.logo {
    font-family: 'Courier New';
}

.toBooking {
    border: 5px solid lightsalmon;
}

.date {
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: palevioletred;
}
.hori {
    display: flex;
    flex-direction: row;
}