* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeroImage {
    background-color: lightblue;
    width: 100vw;
    height: 40vw;
}

.logo {
    font-family: 'Courier New';
}

.toBooking {
    border: 5px solid lightsalmon;
}

.date {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dullDate {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: transparent;
}

.hori {
    display: flex;
    flex-direction: row;
}

.roomClass {
    border: 2px solid lightcoral;
    margin: 5px;
}
.roomClass.clicked {
    background-color: goldenrod;
}